<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [node-%X{nodeId}] %-5level %msg%n"/>
        </Console>

        <Console name="ObserverConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [observer] %-5level %msg%n"/>
        </Console>

        <File name="ObserverFile" fileName="logs/observer.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [observer] %-5level %msg%n"/>
        </File>

        <Routing name="PerNode">
            <Routes pattern="$${ctx:nodeId}">
                <Route>
                    <File name="Node-${ctx:nodeId}" fileName="logs/node-${ctx:nodeId}.log" append="false">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Logger name="lcr.Observer" level="debug" additivity="false">
            <AppenderRef ref="ObserverConsole"/>
            <AppenderRef ref="ObserverFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="PerNode"/>
        </Root>
    </Loggers>
</Configuration>